<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>
<div th:align="center">
    <h1>User Info</h1>
    <hr/>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last name</th>
            <th>Age</th>
            <th colspan="2">Actions</th>

        </tr>
        <tr>
            <td th:text="${user.getId()}">ID</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getSecondName()}">Last name</td>
            <td th:text="${user.getAge()}">Age</td>
            <td>
                <form th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Edit</button>

                </form>
            </td>
            <td>
                <form th:action="@{/delete(id=${user.id})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.id}">
                    <button type="submit">Delete</button>
                </form>
            </td>

        </tr>
    </table>

    <hr/>

    <form th:action="@{/users}">
        <button type="submit">Back to User List</button>
    </form>
</div>
</body>
</html>