<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>

<div th:align="center">

    <h1>User List</h1>

    <hr/>

    <table th:border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th colspan="3">Actions</th>
        </tr>

        <tr th:each="user : ${users}">

            <td th:text="${user.getId()}">ID</td>
            <td th:text="${user.getFirstName()}">Name</td>
            <td th:text="${user.getSecondName()}">Last name</td>
            <td th:text="${user.getAge()}">Age</td>

            <td>
                <form th:action="@{users/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Info</button>
                </form>
            <td>
                <form th:action="@{users/edit/{id}(id=${user.id})}" th:object="${user}">
                    <button type="submit">Edit</button>
                </form>
            </td>
            <td>
                <form th:action="@{users/delete(id=${user.getId()})}" th:object="${user}">
                    <input type="hidden" name="id" th:value="${user.getId()}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
    <br/>
    <form th:action="@{users/new}">
        <button type="submit">Create new user</button>
    </form>
</div>

</body>
</html>